<h1>My first twig template!</h1>
<p>You have passed text: <br>{{ variable1 }}</br></p>
<p>You have passed this number value: <br>{{ variable2 }}</br></p>
<p>You have passed this array values:</p>

<ul>
  {% for item in variable3 %}
    <li> {{ item }} </li>
  {% endfor %}
</ul>

<p>You have passed the variable 1: {{ variable2 }}</p>

<p>Ciao!</p>
