<div class="container">
	<div class="row">
		<div class="col-md-6 web-container">
			{{ drupal_entity('webform', 'event_registration') }}
		</div>
		<div class="col-md-6 text-center para-container">
			{{ drupal_field('field_reviews', 'node', 44) }}
		</div>
	</div>
</div>
